
iiif-gallery { 
	padding: .5vw;
	font-size: 0;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
	display: -webkit-box;
	display: flex;
}

iiif-gallery div { 
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto; 
	width: 200px; 
	margin: .5vw; 
}

iiif-gallery div img { 
	width: 100%; 
	height: auto; 
}

@media screen and (max-width: 400px) {
	iiif-gallery div { margin: 0; }
	iiif-gallery { padding: 0; }
}